#test memusage time exec
evaluation/d_contraints/expanded_pnml/out-extra/*
evaluation/d_contraints/expanded_pnml/out-complete/*


evaluation/n_constraints/expanded_pnml/out-extra/*
evaluation/n_constraints/expanded_pnml/out-complete/*

#eventlogs
evaluation/realworld/logs/*

evaluation/conformance/clustering/dump*


extra/*

src/old/*
src/__pychache__/*




evaluation/conformance/benchmarking/*
evaluation/conformance/extra/*


#vscode
.vscode/*
#pycharm
.idea/*

