#test memusage time exec
evaluation/performance/set_cardinality/expanded_pnml/out-extra/*
evaluation/performance/formula_size/expanded_pnml/out-extra/*


#eventlogs
evaluation/performance/realworld/logs/*
evaluation/performance/realworld/dump/*

evaluation/diagnostics/clustering/dump*


extra/*

src/old/*
src/declare_translator/alternative_versions/*
src/__pycache__/*
/src/declare_translator/__pycache__/*



evaluation/bisimulation/dump/*

evaluation/diagnostics/benchmarking/*
evaluation/diagnostics/extra/*

conformance/*

#vscode
.vscode/*
#pycharm
.idea/*

